@import '../../styles/variables';

.Main {
    flex: 1;
    background-color: $background;
}

.Main h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
}

.ProjectCardGallery {
    display: flex;
    flex-wrap: wrap;
}