@import '../../styles/variables';

.Main {
    flex: 1;
    background-color: $background;
}
.Main h1 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 1rem;
}

.Main p {
    margin-left: 1rem;
}

.Alert {
    max-width: 25rem;
    margin: 1rem;
}

.DownloadAlert {
    background-color: beige;
}

.DownloadAlert:hover {
    cursor: pointer;
}

.DownloadAlert a {
    font-size: 1.05rem;
}

.SeekingPositionAlert {
    background-color: $accent-two;
}

.SeekingPositionAlert p {
    color: #000;
    font-size: 1.05rem;
}

.AlertIcon {
    height: auto;
    width: 1.15rem;
}

.AlertsContainer{
    display: flex;
}

.NotSeeking {
    display: none;
}