.BannerImage{
    height: 12rem;
    width: 100%;
    background-image: url(../../assets/HomePattern.JPG);
    background-repeat: repeat;
}

.Content {
    padding-top: 1rem;
    padding-left: 2rem;
}

.Content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}