.Main {
    flex: 1;
}

.Content {
    padding-top: 1rem;
    padding-left: 2rem;
}

.Content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.AboutMeWrap {
    display: flex;
    padding-right: 2rem;
}

.AboutMeWrap img {
    margin-right: 2rem;
    border-radius: 20px;
    height: 300px;
    width: auto;
}