@import '../../styles/variables';

.Main {
    flex: 1;
    background-color: $background;
}

.Content {
    padding-top: 1rem;
    padding-left: 2rem;
}

.Content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.AboutMeWrap {
    display: flex;
    padding-right: 2rem;
}

.AboutMeWrap img {
    margin-right: 2rem;
    border-radius: 20px;
    height: 300px;
    width: auto;
}

.BlurbBit {
    margin-bottom: 1rem;
}

.BlurbBit h1 {
    border-bottom: 2px solid $accent;
    max-width: 70%;
}

.BlurbHeader {
    font-size: 3rem;
    margin-bottom: 3rem;
}