@import '../../../styles/variables';

.MainWrap {
    display: flex;
}

.GameAreaWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43rem;
    user-select: none;
}

.Board {
    margin-top: 1rem;
    margin-left: 2rem;
}

.Row {
    border: 1px solid black;
}

.GameAreaWrap h1 {
    font-family: "Bangers", system-ui;
    font-style: normal;
    font-size: 3rem;
    margin-top: 1rem;
    font-weight: 400;
}

.GameAreaWrap span:hover {
    cursor: pointer;
    color: $accent;
}

.GameAreaWrap span:active {
    color: #fff;
}

.MoveTracker {
    display: flex;
    margin-top: 8rem;
    width: 18rem;
    height: 2rem;
}

.MoveTracker .MoveCue {
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: #d4d4d4;
}

.MoveTracker .ActiveCue {
    color: #000;
    text-decoration: underline;
}

.ChatWindow {
    height: 39rem;
    background-color: #b6b6b6;
    border-radius: 8px;
    box-shadow: inset -2px -4px 6px rgba(0, 0, 0, 0.2);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ChatWindow ul {
    list-style:circle;
    margin-left: 1rem;
}

.ChatWindow li {
    margin-left: 1rem;
}