@import '../../styles/variables';

.Sidebar {
    background:
        linear-gradient(to left, #dce3f1, $surface) border-box;
}

.SidebarIcon {
    height: auto;
    width: 1.75rem;
    color: $text;
}