// _variables.scss
$main-blue: #0366c9;
$main-blue-light: #3984cf;
$main-blue-lighter: #609ad4;
$main-blue-lightest: #8baed1;
$main-blue-dark: #014d99;
$main-blue-darker: #013f7e;
$main-blue-darkest: #013263;